
.buttonsAll {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    box-shadow: 0.1rem;
    
    
    button{
        font-family:'Rubik', sans-serif;
        font-size: 3rem;
        color: to right, rgb(1, 250, 180), rgb(10, 135, 120);
    
    }
}